#container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .number-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    border-radius: 4px;
  }
  
  .even {
    background-color: green;
  }
  
  .odd {
    background-color: yellow;
    color: black;
  }
  
  .prime {
    background-color: red;
  }
  